:root {
  --primary-color: #A62934;
  --secondary-color: #1C1F26;
  --accent-color: #07748C;
  --success-color: #F2DFCE;
  --info-color: #D92B2B;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: #222222;
}

.containerHero {
  height: 90vh;
  display: flex;
  padding: 0 80px;
  align-items: center;
  justify-content: space-between;
}
.heading {
  font-size: 40px;
  font-weight: bold;
  color: #222;
}
.subHeading {
  font-size: 18px;
  color: #222;
}

/*Xbootstrap*/
.font-weight-bold {
  font-weight: bold;
}
.t-w {
  color: var(--success-color);
}
.bg-black {
  background-color: #000;
}
/*Xend*/

.Xlogo {
  margin: 4px;
  width: 40px;
  border-radius: 100%;
}
.XbgStyle {
  background-color: #000;
  height: 60px;
}
.Xcontainer {
  background-image: url(../public/pictures/heroImg.jpg);
  background-size: cover;
  background-position: center;
}
.Xhero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Xtitle {
  font-weight: bold;
}
.XsubTit {
  width: 36vw;
  text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.468);
}
.Xaction {
  
}
.Xbtn1 {
  margin: 4px;
  padding: 6px 12px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--success-color);
}
.Xbtn2 {
  margin: 4px;
  background-color: transparent;
  border: none;
  font-weight: bold;
}
.Xsection {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 0;
  align-items: center;
}
.Xbtn {
  margin: 4px;
  padding: 6px 12px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--success-color);
}
.actText {
  font-size: 26px;
}
.aboutText {
  width: 40vw;
  text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.468);
}